:root {
  --background: #0b0b0b;
  --dark: #0f0f0f;
  --light: #fffafa;

  --dark-light: #171717;

  --text: #898989;

  --success: #2c9f5a;
  --danger: #fd5050;

  --linear: linear-gradient(137.08deg, #ff6b00 8.02%, #ff0099 84.51%);
}

* {
  background-color: var(--background);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--light);
  background: var(--background);

  > div.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  background: transparent;

  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.9);
  }
}
