.container {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 1024px;

    margin: 0 auto;

    padding-left: 1rem;
    padding-right: 1rem;

    div {
        h2 {
            display: inline;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.2rem;

            background-color: var(--dark-light);
            border-radius: 0.5rem;

            padding: 1rem;
        }

        h1 {
            background-image: var(--linear);
            -webkit-background-clip: text;
            /* Para navegadores baseados no WebKit, como Chrome e Safari */
            -webkit-text-fill-color: transparent;
            /* Para navegadores baseados no WebKit, como Chrome e Safari */
            background-clip: text;
            font-size: 4rem;
            font-weight: 800;

            margin-top: 1rem;
        }

        p {
            margin-top: 1rem;

            a {
                color: #f77f00;
                padding: 0.3rem;
                background: transparent;
            }
        }
    }
}

.whatsapp {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;

    color: var(--light);
    border: 1px solid var(--light);
    border-radius: 0.5rem;

    padding: 0.8rem 1rem;
    padding-right: 3rem;
    margin-top: 2rem;

    height: 3rem;

    .icon {
        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        .icon {
            visibility: visible;
            background-color: transparent;
            opacity: 1;
            transition: all 0.2s ease-in-out;
        }

        color: var(--success);
        border: 1px solid var(--success);
    }
}

@media (max-width: 425px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        min-height: 100vh;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                text-align: center;
            }
            h2 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
}
