.card {
    background: var(--dark);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 0.5rem;

    h3 {
        font-size: 2rem;
        font-weight: bold;
        background: transparent;
        color: var(--title) !important;
    }

    p {
        flex: 1;
        font-size: 1rem;
        font-weight: normal;
        background: transparent;
        color: var(--text);
    }

    a {
        cursor: pointer;
        margin-top: 2rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        display: inline-flex;
        width: 6rem;
        gap: 0.5rem;
        background: transparent;
        align-items: center;

        svg {
            background: transparent;
        }

        &:hover {
            background: var(--dark-light);
        }
    }
}

@media (max-width: 425px) {
    .card {
        width: 100% !important;
        min-width: 100% !important;
    }
}
