.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: gray;
    gap: .25rem;
    padding: .5rem;

    p, small {
        font-size: small;
    }
}

@media (max-width: 425px) {
    .list {
        gap: 1rem;
        margin-top: 3rem;
    }
}
